.container {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	border-radius: 20px;

	height: 60px;
	width: 70%;
	max-width: 320px;

	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -30%);

	z-index: 90;
}

.container img {
  width: 30px;
}
.container a {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	opacity: 0.3;
}
.container a img {
  transition: filter 0.3s ease;
}

.active {
  opacity: 1 !important;
	border-radius: 50%;
	
}