.wrapper {
	font-family: monument, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	z-index: 10;
	max-width: 98vw;
}

.wrapper h1 {
	margin: 40vh 0 0 0;
	font-size: 65px;
	font-weight: 900;
	transform: scaleY(1.20);
	line-height: 0.9;
  display: inline-block;
	z-index: 10;
	
}
.wrapper p {
	text-align: center;
	font-size: 25px;
	font-weight: 900;
	transform: scaleY(1.20);
	line-height: 0.9;
  display: inline-block
}