@font-face {
  font-family: 'monument';
  src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monument-bold';
  src: url('/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: normal;	
  font-style: normal;
}
body {
  /* font-family: monument, Helvetica, sans-serif; */
	margin: 0;
	padding: 0;
	background-color: rgb(181, 181, 181);
}